<h1>Editing world bank country</h1>

<%= render "form", world_bank_country: @world_bank_country %>

<br>

<div>
  <%= link_to "Show this world bank country", @world_bank_country %> |
  <%= link_to "Back to world bank countries", world_bank_countries_path %>
</div>
