<div class="row">
    <h2>Welcome!</h2>

    <p>
        This application is a simple way to view and compare various economic indicators
        for countries around the world. The application also provides a way to view and compare salaries for various
        Data Science, AI and ML job titles.

        With this information, users can make informed decisions about where to live and work if they are interested
        in Data Science, AI and ML.
    </p>
</div>
