<div id="<%= dom_id global_electricity_statistic %>">
  <p>
    <strong>Country:</strong>
    <%= global_electricity_statistic.Country %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= global_electricity_statistic.Features %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= global_electricity_statistic.Region %>
  </p>

  <p>
    A chart will be here for 1980 to 2021 data.
  </p>
</div>
