<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1 class="mb-4">Global electricity statistics</h1>

<div id="global_electricity_statistics">
  <% @global_electricity_statistics.each do |global_electricity_statistic| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render global_electricity_statistic %>
        <p class="mt-2">
          <%= link_to "Show this global electricity statistic", global_electricity_statistic, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New global electricity statistic", new_global_electricity_statistic_path, class: "btn btn-success mt-3" %>
