<h1>New global electricity statistic</h1>

<%= render "form", global_electricity_statistic: @global_electricity_statistic %>

<br>

<div>
  <%= link_to "Back to global electricity statistics", global_electricity_statistics_path %>
</div>
