
<div class="row">
    <h2>Dataset Descriptions</h2>

    <h3>AI ML Salaries</h3>
    <p>
        This dataset contains salary information for 2020-2023 for various Data Science, AI and ML job titles.
        The data was is updated roughly every month and is globally sourced.
        The dataset was obtained from <a href="https://www.kaggle.com/datasets/cedricaubin/ai-ml-salaries">Kaggle</a>.
    </p>

    <h3>Country Names</h3>
    <p>
        This dataset contains the names of all countries in the world and their ISO2 codes.
        The dataset was obtained from <a href="https://www.kaggle.com/datasets/timoboz/country-data?select=names.json">Kaggle</a>.
    </p>

    <h3>Global Electricity Statistics</h3>
    <p>
        This dataset contains electricity consumption and production statistics for countries around the world.
        The data includes data from 1980 to 2021.
        The dataset was obtained from <a href="https://www.kaggle.com/datasets/akhiljethwa/global-electricity-statistics">Kaggle</a>.
    </p>

    <h3>World Bank Data</h3>
    <p>
        This dataset contains various economic indicators for countries around the world.
        The dataset was obtained from <a href="https://www.kaggle.com/theworldbank/world-bank-intl-education">Kaggle</a>.
    </p>

    <h2>Dataset Application</h2>
    <div class="d-flex">
        <p>
            The application of these datasets is to provide a simple way to view and compare various economic indicators
            for countries around the world. The application also provides a way to view and compare salaries for various
            Data Science, AI and ML job titles.

            With this information, users can make informed decisions about where to live and work if they are interested
            in Data Science, AI and ML.
        </p>
        <div class="card">
            <div>
                <a href="<%= image_path('ERD.png') %>" data-lightbox="data-project">
                    <%= image_tag('ERD.png', alt: 'Data Project ERD', class: 'w-100') %>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">ERD for the LD86 Data Project</p>
            </div>
        </div>
    </div>
</div>